pin-depends: [
  [
    "coq-tactician.8.11.dev"
    "./coq-tactician"
  ]
]


substs: [
  "config"
]
depends: [
  "coq" {>= "8.11" & < "8.12~"}
  "coq-tactician" {= "8.11.dev"}
  "capnp-rpc-unix"
  "capnp-rpc-lwt"
  "ppx_deriving"
  "ocamlgraph"
  "dune" {>= "2.9" & >= "2.9"}
  "odoc" {with-doc}
  "ocaml" {>= "4.13"} | ("ocaml" {< "4.12"} & "lwt" {<= "5.1.0"})
]